.App {
  /* text-align: center; */
  background-color: #cdcdcd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.lp__hover:hover,
.lp__hover:focus {
  text-decoration: none !important;
}


.section {
  border: 1px solid #000000;
  border-radius: 0.25rem;
  padding: 1rem;
  width: 95%;
  margin: 0 auto 1rem auto;
  background-color: #fff;
}

.section p {
  margin: 0;
  margin-bottom: 0.25rem;
}

button {
  display: inline-block;
  background-color: #0071BC;
  border-color: #0071BC;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}